---
title: that Chris guy's blog
layout: layouts/home.njk
description: A blog by Chris Rindone.
image: https://res.cloudinary.com/chrisrindone/image/upload/c_scale,w_275/v1613724898/chris-img.jpg
date: Last Modified
---

<p>
 Hi! Welcome to my blog. Feel free to roam around and explore.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
